<script>
	/*
		function exec() {
			var payload = $("#payload").val();

			try {
				var payload_json = JSON.parse(payload);
			} catch (err) {}

			$.post("/sendconfig", {
				token: parent.token,
				payload: payload
			}, function (data) {
				var output = data.replace(/(?:\r\n|\r|\n)/g, '<br />');
				if (output.indexOf('Error') === -1) {
					parent.token = payload_json.token;
					parent.syslog = payload_json.syslog;
				}
				alert(output);
			});
		};

		function getconfig() {
			$.get("/getconfig?token=" + parent.token, function (data) {
				$("#payload").val(JSON.stringify(JSON.parse(data), null, 2));
			});
		};
*/
</script>

<script>
	$.get("/api/config_data").then(function(data) {
		$(".dockerfile_path").text(data.dockerfile_path);
		$(".tls_enable").text(data.tls_enable);
		$(".tls_self_signed").text(data.tls_self_signed);
		
	});
</script>

<div id="modal_container" class="modal">
	<div class="modal-content modal-large">
		<div class="modal-header">
			<span class="close">&times;</span>
			<h2>PiCluster System Configuraton</h2>
		</div>

		<div class="modal-body">

			<div>
				<h2>Paths</h2>
				<h3></h3>
			</div>
			<!--
				<div id="config_editor" title="PiCluster Configuration Editor">
					<textarea id="payload" name="payload" value="" enctype="application/json"></textarea>
					<br><br>
					<div id="submit_button_div">
						<button id="submit_button">Submit</button>
					</div>
				</div>
			-->
		</div>
	</div>
</div>

<script>
/*
	var modal = document.getElementById('modal_container');
	var span = document.getElementsByClassName("close")[0];
	var submit_button = document.getElementById("submit_button");

	span.onclick = function() {
		modal.style.display = "none";
	}

	submit_button.onclick = function() {
		exec();
	}

	modal.style.display = "block";

	getconfig();
	*/
</script>
