<html>

<head>
	<title>PiCluster Web Console</title>
	<script src="/jquery.js"></script>
	<script src="/jquery-ui.js"></script>
	<script src="/picluster.js"></script>
	<script src="/distLogo.js"></script>
	<script src="/moment.js"></script>

	<link rel="stylesheet" href="/jquery-ui.css">
	<link rel="stylesheet" href="/picluster-ui.css">
	<link rel="stylesheet" href="/circle.css">

	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
	<link rel="manifest" href="/images/manifest.json">
	<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">

	<meta name="theme-color" content="#ffffff">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<script>
		generate_nav("#menu");
		//build_doc_links();

		$(document).ready(function() {
		// Populate container_heartbeat_fieldset selection and host_add drop down

		// Fill the host selector with options
		generate_host_selector("select[name=host]");
		generate_host_checkboxes("#hosts_checkbox");

		// Populate container_list dropdown
		// TODO: refactor reference to /nodes handle to use /api/containers/list once implemented
		$.get("/nodes?token=" + parent.token, function(data) {
			for (var i in data.container_list) {
				$("#container_list").append("<option value=\"" + data.container_list[i] + "\">" + data.container_list[i] + "</option>");
			}
			$("#container_list").append("<option value=\"" + "*" + "\">" + "*" + "</option>");
		});

		$("#radio_add").click(function() {
			$("#operation").val("add");
			$("#host_element").detach().appendTo( $("#block_add") );
			$("#options_fieldset").show();

			$("#block_add").show();
			$("#block_remove").hide();
			$("#block_modify").hide();
			$("#block_start").hide();
			$("#block_stop").hide();
			$("#block_restart").hide();
			$("#block_move").hide();
			$("#block_failover").hide();
			$("#block_log").hide();
		})

		$("#radio_remove").click(function() {
			$("#operation").val("remove");
			$("#host_element").detach().appendTo( $("#block_remove") );
			$("#options_fieldset").show();

			$("#block_add").hide();
			$("#block_remove").show();
			$("#block_modify").hide();
			$("#block_start").hide();
			$("#block_stop").hide();
			$("#block_restart").hide();
			$("#block_move").hide();
			$("#block_failover").hide();
			$("#block_log").hide();
		});

		$("#radio_modify").click(function() {
			$("#operation").val("modify");
			get_container_info();
		});

		$("#radio_start").click(function() {
			$("#operation").val("start");
		});

		$("#radio_stop").click(function() {
			$("#operation").val("stop");
		});

		$("#radio_restart").click(function() {
			$("#operation").val("restart");
		});

		$("#radio_move").click(function() {
			$("#operation").val("move");
			$("#host_element").detach().appendTo( $("#block_move") );
			$("#options_fieldset").show();

			$("#block_add").hide();
			$("#block_remove").hide();
			$("#block_modify").hide();
			$("#block_start").hide();
			$("#block_stop").hide();
			$("#block_restart").hide();
			$("#block_move").show();
			$("#block_failover").hide();
			$("#block_log").hide();
		});

		$("#radio_failover").click(function() {
			$("#operation").val("failover");
			$("#failover_element").detach().appendTo( $("#block_failover") );
			$("#host option").removeAttr("selected");
			$("#options_fieldset").show();

			$("#block_add").hide();
			$("#block_remove").hide();
			$("#block_modify").hide();
			$("#block_start").hide();
			$("#block_stop").hide();
			$("#block_restart").hide();
			$("#block_move").hide();
			$("#block_failover").show();
			$("#block_log").hide();

			get_container_info();
		});

		$("#radio_log").click(function() {
			$("#operation").val("log");
		});

		// Provide dropdown menu when javascript disabled
		$("nav li ul").hide().removeClass("dropdown");

		// Render menu dropdown the right way
		$("nav li").hover(function() {
			$("ul", this).stop().slideDown(125);
		}, function() {
			$("ul", this).stop().slideUp(125);
		});

		$("#options_fieldset").hide();
		$("#block_add").hide();
		$("#block_remove").hide();
		$("#block_modify").hide();
		$("#block_start").hide();
		$("#block_stop").hide();
		$("#block_restart").hide();
		$("#block_move").hide();
		$("#block_failover").hide();
		$("#block_log").hide();
	});
	</script>
</head>

<body>
	<div id="menu"></div>
	<div  class="modal">
		<div class="modal-content modal-large">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h2>Manage Containers</h2>
			</div>

			<div class="modal-body">
				<form action="/containers/manage" method="post">
					<fieldset class="selection_fieldset">
						<legend><b>Container</b></legend>

						<div id="radio_selector">
							<span>
								<input type="radio" name="container_radio" id="radio_add">
								<label>Add</label>
							</span>
							<span>
								<input type="radio" name="container_radio" id="radio_remove">
								<label for="radio_remove">Remove</label>
							</span>
							<span>
								<input type="radio" name="container_radio" id="radio_modify">
								<label for="radio_modify">Arguments</label>
							</span>
							<span>
								<input type="radio" name="container_radio" id="radio_start">
								<label for="radio_start">Start</label>
							</span>
							<span>
								<input type="radio" name="container_radio" id="radio_stop">
								<label for="radio_stop">Stop</label>
							</span>
							<span>
								<input type="radio" name="container_radio" id="radio_restart">
								<label for="radio_restart">Restart</label>
							</span>
							<span>
								<input type="radio" name="container_radio" id="radio_move">
								<label for="radio_move">Move</label>
							</span>
							<span>
								<input type="radio" name="container_radio" id="radio_failover">
								<label for="radio_failover">Failover</label>
							</span>
							<span>
								<input type="radio" name="container_radio" id="radio_log">
								<label for="radio_log">View Logs</label>
							</span>
						</div>

						<fieldset id="options_fieldset">
							<legend><b>Options</b></legend>

							<div id="block_add" name="block_element">
								<div id="name_element">
									<input type="text" id="container_name" class="modal_input" name="container_name" placeholder="Name" value=""></font>
								</div>
								<div id="image_element" name="block_element">
									<input type="text" id="container_image" class="modal_input" name="container_image" placeholder="Image" value=""></font>
								</div>
							</div>

							<div id="block_remove"></div>

							<div id="block_modify">
								<label>Container</label>
								<select name="container_list" id="container_list"></select>

								<input type="text" id="modify_arguments" class="modal_input" name="modify_arguments" value="">
							</div>

							<div id="block_start"></div>

							<div id="block_stop"></div>

							<div id="block_restart"></div>

							<div id="block_move"></div>

							<div id="block_failover"></div>

							<div id="block_log"></div>
						</fieldset>
					</fieldset>

					<input type="hidden" id="operation" name="operation" value="">

					<div id="submit_element">
						<button id="submit_button">Submit</button>
					</div>
			</form>
			</div>
		</div>
	</div>

	<div id="output" class="modal">
		<div class="modal-content modal-large">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h2>Command Output</h2>
			</div>

			<div id="containers-manage-modal-body" class="modal-body">
				Please wait.
			</div>
		</div>
	</div>

	<div id="block_hidden">
		<div id="host_element" name="block_element">
			<label>Host</label>
			<select name="host" id="host"></select>
		</div>

		<div id="failover_element">
			<label>Failover Hosts<i>(Optional)</i></label>
			<div id="hosts_checkbox">
			</div>
		</div>
	</div>

	<script>
		var modal = document.getElementById("modal_container");
		var span = document.getElementsByClassName("close")[0];
		var output_modal = document.getElementById("output");
		var output_span = document.getElementsByClassName("close")[1];
		var submit_button = document.getElementById("submit_button");

		span.onclick = function() {
			modal.style.display = "none";
		}

		output_span.onclick = function() {
			output_modal.style.display = "none";
		}

		modal.style.display = "block";
	</script>
</html>
