<html>

<head>
	<title>PiCluster Web Console</title>
	<script src="/jquery.js"></script>
	<script src="/jquery-ui.js"></script>
	<script src="/picluster.js"></script>
	
	<script src="/distLogo.js"></script>
	<script src="/moment.js"></script>

	<link rel="stylesheet" href="/jquery-ui.css">
	<link rel="stylesheet" href="/picluster-ui.css">
	<link rel="stylesheet" href="/circle.css">

	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
	<link rel="manifest" href="/images/manifest.json">
	<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">

	<meta name="theme-color" content="#ffffff">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<script>
		generate_nav("#menu");
		//build_doc_links();

		$(document).ready(function() {
			// Provide dropdown menu when javascript disabled
			$('nav li ul').hide().removeClass('dropdown');

			// Render menu dropdown the right way
			$('nav li').hover(function() {
				$('ul', this).stop().slideDown(125);
			}, function() {
				$('ul', this).stop().slideUp(125);
			});
		});
	</script>
</head>

<body>
	<div id="menu"></div>

	<div  class="modal">
		<div class="modal-content modal-small">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h2>Create a function</h2>
			</div>

			<div class="modal-body">
				<label>Create functions for testing purposes.</label>
				<fieldset name="functions" id="functions">
					<legend><b>Function Name</b></legend>
					<label><i>This should correspond to the container name in the Docker folder.</i></label>
					<br><br>
					<label>Name</label>
					<input type="text" id="function-name" class="modal_input" name="function-name" value=""></font>
				</fieldset>

				<fieldset name="options" id="options">
					<legend><b>Container Arguments</b> <i>(Optional)</i></legend>
					</select>
					<label><i>Additional Docker arguments if needed such as ENVAR's or ports.</i></label>
					<br><br>
					<label>Arguments</label>
					<input type="text" id="function-args" class="modal_input" name="function-args" value=""></font>
				</fieldset>

				<div id="submit_element">
					<button id="submit_button">Create</button>
				</div>
			</div>
		</div>
	</div>

	<div id="output" class="modal">
		<div class="modal-content modal-large">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h2>Command Output</h2>
			</div>

			<div id="functions-create-modal-body" class="modal-body">
				Sent request to create function.
			</div>
		</div>
	</div>

	<script>
		var modal = document.getElementById('modal_container');
		var span = document.getElementsByClassName("close")[0];
		var output_modal = document.getElementById('output');
		var output_span = document.getElementsByClassName("close")[1];
		var submit_button = document.getElementById("submit_button");

		span.onclick = function () {
			modal.style.display = "none";
		}

		output_span.onclick = function () {
			output_modal.style.display = "none";
		}

		submit_button.onclick = function () {
			generate_function_create();
		}

		modal.style.display = "block";

	</script>

</html>
