<html>

<head>
	<title>PiCluster Web Console</title>
	<script src="/assets/jquery.min.js"></script>
	<link rel="stylesheet" href="/assets/jquery-ui.css">
	<script src="/assets/jquery-ui.js"></script>
	<script type="text/javascript" src="assets/user.js"></script>
	<link rel="stylesheet" href="/assets/picluster-ui.css">
	<script src="/assets/moment.js"></script>
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
	<link rel="manifest" href="/assets/images/manifest.json">
	<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<script>
		var manage_container = '';
		var manage_image = '';
		var manage_function = '';
		var manage_function_uuid = '';
		var token = '';

		function clear(callback) {
			var iframe = document.getElementById('iframe_a').contentWindow.document;
			iframe.write('<html>');
			iframe.close();
			callback();
		}

		/** TODO: Migrate to link generation engine
				function build_doc_links() {
					var output = '';

					$.get("/listdocs", function(doc_list) {
						for (var i in doc_list) {
							output += "$('#doc'" + i + ").click(function() { $('iframe_a').attr('src', '/docs.html?doc_id=doc'" + i + ") });";
						}
					});

					return output;
				}

				function build_docs_nav_menu() {
					var output = '';
					output += '<ul class="dropdown">';

					$.get("/listdocs", function(doc_list) {
						for (var i in doc_list) {
							var doc_id = "doc" + i;
							$("<li><a href='#' id='" + doc_id + "' onclick='stinky_linker(\"" + doc_id + "\")'>" + doc_list[i] + "</a></li>").appendTo("#nav_docs > ul");
						}
					});

					output += '</ul>';
					$('#nav_docs').append(output);
				}

				function stinky_linker(doc_id) {
					$('#iframe_a').attr('src', '/docs.html?doc_id=' + doc_id);
				}
		**/

		$(document).ready(function() {
			$('#exec').click(function() {
				$('#iframe_a').attr('src', '/exec.html?token=' + token);
			});
			$('#terminal').click(function() {
				$('#iframe_a').attr('src', '/terminal.html?token=' + token);
			});
			$('#images-layout').click(function() {
				$('#iframe_a').attr('src', '/images-layout.html');
			});
			$('#syslog').click(function() {
				$('#iframe_a').attr('src', '/syslog.html');
			});
			$('#monitoring').click(function() {
				$('#iframe_a').attr('src', '/monitoring.html?token=' + token);
			});
			$('#elasticsearch-config').click(function() {
				$('#iframe_a').attr('src', '/elasticsearch.html?token=' + token);
			});
			$('#functions-viewer').click(function() {
				$('#iframe_a').attr('src', '/functions-viewer.html');
			});
			$('#functions-create').click(function() {
				$('#iframe_a').attr('src', '/functions-create.html');
			});
			$('#functions-remove').click(function() {
				$('#iframe_a').attr('src', '/functions-clear.html');
			});
			$('#functions-current').click(function() {
				$('#iframe_a').attr('src', '/functions-current.html');
			});
			$('#rsyslog').click(function() {
				$('#iframe_a').attr('src', '/rsyslog.html');
			});
			$('#nodes-list').click(function() {
				$('#iframe_a').attr('src', '/nodes-list.html');
			});
			$('#containers-layout').click(function() {
				$('#iframe_a').attr('src', '/containers-layout.html');
			});
			$('#containers-add').click(function() {
				$('#iframe_a').attr('src', '/containers-add.html');
			});
			$('#node-add').click(function() {
				$('#iframe_a').attr('src', '/nodes-add.html');
			});
			$('#node-remove').click(function() {
				$('#iframe_a').attr('src', '/nodes-remove.html');
			});
			$('#node-manage').click(function() {
				$('#iframe_a').attr('src', '/nodes-manage.html');
			});
			$('#swarm').click(function() {
				$('#iframe_a').attr('src', '/swarm.html');
			});
			$('#config-edit').click(function() {
				$('#iframe_a').attr('src', '/config-edit.html?token=' + token);
			});
			$('#log').click(function() {
				$('#iframe_a').attr('src', '/log.html');
			});
			$('#heartbeat').click(function() {
				$('#iframe_a').attr('src', '/heartbeat.html');
			});
			//$('#docs').click(function() {
			//		$('#iframe_a').attr('src', '/docs.html');
			//	});
			$('#images-upload').click(function() {
				$('#iframe_a').attr('src', '/images-upload.html');
			});
			$('#images-pull').click(function() {
				$('#iframe_a').attr('src', '/images-pull.html');
			});
			$('#images-manage').click(function() {
				$('#iframe_a').attr('src', '/images-manage.html');
			});
			$('#containers-manage').click(function() {
				$('#iframe_a').attr('src', '/containers-manage.html');
			});
			$('#images-prune').click(function() {
				$('#iframe_a').attr('src', '/images-prune.html');
			});
			$('#terminal').click(function() {
				$('#iframe_a').attr('src', '/terminal.html');
			});
			//$('#doc1').click(function() {
			//	$('#iframe_a').attr('src', '/docs.html?doc_id=doc1');
			//});

			//build_doc_links();

			// Render menu dropdown the right way
			$("#menu nav li").hover(function() {
				$(".dropdown", this).slideDown(100);
			}, function() {
				$(".dropdown", this).stop().slideUp(100);
			});
		});

		/** yea, lets do this whole "menu" rendering the right way
		$("html").click(function() {
			$(".dropdown").hide();
		});

		$("nav ul li a:not(:only-child)").click(function(e) {
			$(this).siblings(".dropdown").toggle();

			$(".dropdown").not($(this).siblings()).hide();
			e.stopPropagation();
		});
		*/

		/** Not needed now that authentication is handled with middleware
		function hideshow(id) {
			var element = document.getElementById(id);
			element.style.display = element.style.display == 'block' ? 'none' : 'block';
		}

		$(function() {
			hideshow('menu');
			hideshow('content');
			hideshow('menu');
			hideshow('content');
		});
		*/

		function getToken() {
			return token;
		}

		function getVersion() {
			return version;
		}

		// Load menu html into div
		$(function() {
			$("#menu").load("menu.html");
		});
	</script>
</head>

<body>
	<!--
	<div id="login" class="modal-login">
		<div class="modal-login-content">
			<div class="modal-login-header">
				<span class="close">&times;</span>
				<h2>PiCluster 2.6 Login</h2>
			</div>

			<div class="modal-login-body">
				<div>
					<img src="/logo.png" height="250" width="200">
					<br><label>Please login to continue<label>
							<br>
							<div>
								<input type="text" style="width: 250px;" id="user" name="username">
								<br>
								<input type="password" style="width: 250px;" size="18" id="password" name="password">
								<br>
								<br>
								<button id="submit_button">Connect</button>
								<br>
							</div>
				</div>
			</div>
		</div>
	</div>
-->

	<div id="menu">
	</div>

	<script>
		//build_docs_nav_menu();

		/** Previous authentication variables unnecessary now
		var modal = document.getElementById('login');
		var span = document.getElementsByClassName("close")[0];
		var submit_button = document.getElementById("submit_button");



		span.onclick = function() {
			modal.style.display = "none";
		}

		submit_button.onclick = function() {
			modal.style.display = "none";
			login();
		}

		modal.style.display = "block";

		$("html").click(function() {
			$(".dropdown").hide();
		});

		$("nav ul li a:not(:only-child)").click(function(navmenu) {
			$(this).siblings(".dropdown").toggle();

			$(".dropdown").not($(this).siblings()).hide();
			navmenu.stopPropagation();
		});
	</script>

	<div id="content">
		<div class="left"></div>
		<div style="clear: both;"></div>
	</div>

	<div id="div_iframe">
		<!-- its time to get rid of this lop of shit
		<iframe src="/blank.html" id="iframe_a" name="iframe_a">
		-->
	</div>
</body>

</html>
