<nav>
	<ul>
		<li id="nav_logo"><a href='/blank.html' target="iframe_a" id="logo"><img src="/assets/images/sphere.png" id="nav_logo_image"></a>
		<li id="nav_system"><a href="#!">Nodes</a>
			<ul class="dropdown">
				<li><a href="#" id="nodes-list">List</a></li>
				<li><a href="#" id="node-manage">Manage</a></li>
				<li><a href="#" id="swarm">Swarm Setup</a></li>
			</ul>
		</li>
		<li id="nav_containers"><a href="#!">Containers</a>
			<ul class="dropdown">
				<li><a href="#" id="containers-layout">List</a></li>
				<li><a href="#" id="containers-manage">Manage</a></li>
			</ul>
		</li>
		<li id="nav_images"><a href="#!">Images</a>
			<ul class="dropdown">
				<li><a href="#" id="images-layout">List</a></li>
				<li><a href="#" id="images-manage">Manage</a></li>
			</ul>
		</li>
		<li id="nav_functions"><a href="#!">Functions</a>
			<ul class="dropdown">
				<li><a href="#" id="functions-create">Create</a></li>
				<li><a href="#" id="functions-remove">Remove</a></li>
				<li><a href="#" id="functions-current">Current</a></li>
				<li><a href="#" id="functions-viewer">Viewer</a></li>
			</ul>
		</li>
		<li id="nav_operations"><a href="#!">Operations</a>
			<ul class="dropdown">
				<li><a href="#" id="config-edit">Edit Config</a></li>
				<li><a href="#" id="exec">Run Command(s)</a></li>
				<li><a href="#" id="heartbeat">Heartbeat</a></li>
				<li><a href="#" id="images-prune">Clean Docker</a></li>
				<li><a href="#" id="terminal">Terminal</a></li>
				<li><a href="#" id="monitoring">Monitoring</a></li>
				<li><a href="#" id="elasticsearch-config">Configure Elasticsearch</a></li>
			</ul>
		</li>
		<li id="nav_logs"><a href="#!">Logs</a>
			<ul class="dropdown">
				<li><a href="#" id="log">PiCluster Logs</a></li>
				<li><a href="#" id="syslog">Syslog</a></li>
				<li><a href="#" id="rsyslog">Rsyslog</a></li>
			</ul>
		</li>
	</ul>
</nav>
