<html>

<head>
	<title>PiCluster Web Console</title>
	<script src="/jquery.js"></script>
	<script src="/jquery-ui.js"></script>
	<script src="/picluster.js"></script>

	<script src="/distLogo.js"></script>
	<script src="/moment.js"></script>

	<link rel="stylesheet" href="/jquery-ui.css">
	<link rel="stylesheet" href="/picluster-ui.css">
	<link rel="stylesheet" href="/circle.css">

	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
	<link rel="manifest" href="/images/manifest.json">
	<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">

	<meta name="theme-color" content="#ffffff">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<script>
		generate_nav("#menu");

		$(document).ready(function() {
			//build_doc_links();

			// Provide dropdown menu when javascript disabled
			$('nav li ul').hide().removeClass('dropdown');

			// Render menu dropdown the right way
			$('nav li').hover(function() {
				$('ul', this).stop().slideDown(125);
			}, function() {
				$('ul', this).stop().slideUp(125);
			});
		});
	</script>
</head>

<body>
	<div id="menu"></div>

	<div  class="modal">
		<div class="modal-content modal-small">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h2>Run Commands on the Cluster</h2>
			</div>

			<div class="modal-body">
				<fieldset class="">
					<legend><b>Node</b></legend>
					<select name="node_list" id="node_list"></select>
				</fieldset>

				<fieldset>
					<legend><b>Command</b></legend>
					<input type="text" size="30" id="command_entry" name="command_entry" class="modal_input" value="">
					<hr>
					<div>
						<label id="windowfont" for="command_list">Saved Commands</label>
						<select name="command_list" id="command_list" class="modal_input"></select>
					</div>
					<div id="submit_element">
						<button id="submit_button">Submit</button>
					</div>
				</fieldset>

				<script>
					$(function () {
						var option = '';
						// TODO: refactor reference to /nodes handle to use /api/host/info
						$.get("/nodes?token=" + parent.token, function (data) {
							for (var i in data.nodes) {
								option += '<option value="' + data.nodes[i] + '">' + data.nodes[i] + '</option>';
							}

							option += '<option value="' + '*' + '">' + '*' + '</option>';
							$('#node_list').append(option);
						});
					});
					$(function () {
						var option = '';

						$.post('/listcommands', {
							token: parent.token
						}, function (data) {
							option += '<option value="' + 'Choose' + '">' + 'Choose' + '</option>';
							if (data) {
								data = JSON.parse(data);
								for (var i = 0; i < data.length; i++) {
									for (var key in data[i]) {
										if (data[i].hasOwnProperty(key)) {
											option += '<option value="' + data[i][key] + '">' + key + '</option>';
										}
									}
								}
							}

							$('#command_list').append(option);
						});
					});

				</script>
			</div>
		</div>
	</div>

	<div id="output" class="modal">
		<div class="modal-content modal-large">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h2>PiCluster Terminal</h2>
			</div>

			<div class="modal-body">
				<textarea id="exec_output" name="exec_output" value="" enctype="application/json"></textarea>
				<div id="rerun_div">
					<br>
					<button id="rerun_button">Run Again</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		var modal = document.getElementById('modal_container');
		var span = document.getElementsByClassName("close")[0];
		var output_modal = document.getElementById('output');
		var output_span = document.getElementsByClassName("close")[1];
		var submit_button = document.getElementById("submit_button");
		var rerun_button = document.getElementById("rerun_button");

		span.onclick = function () {
			modal.style.display = "none";
		}

		output_span.onclick = function () {
			output_modal.style.display = "none";
		}

		submit_button.onclick = function () {
			modal.style.display = "none";
			output_modal.style.display = "block";
			generate_op_exec();
		}

		rerun_button.onclick = function () {
			$('#exec_output').val('');
			generate_op_exec();
		}

		modal.style.display = "block";

	</script>

</html>
