<html>

<head>
	<title>PiCluster Web Console</title>
	<script src="/jquery.js"></script>
	<script src="/jquery-ui.js"></script>
	<script src="/picluster.js"></script>
	
	<script src="/distLogo.js"></script>
	<script src="/moment.js"></script>

	<link rel="stylesheet" href="/jquery-ui.css">
	<link rel="stylesheet" href="/picluster-ui.css">
	<link rel="stylesheet" href="/circle.css">

	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
	<link rel="manifest" href="/images/manifest.json">
	<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">

	<meta name="theme-color" content="#ffffff">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<script>
		generate_nav("#menu");

		$(document).ready(function() {
			//build_doc_links();

			// Provide dropdown menu when javascript disabled
			$('nav li ul').hide().removeClass('dropdown');

			// Render menu dropdown the right way
			$('nav li').hover(function() {
				$('ul', this).stop().slideDown(125);
			}, function() {
				$('ul', this).stop().slideUp(125);
			});
		});
		
		$(document).ready(function() {
			$("input[id$='radio_add']").click(function() {
			$("#es_kibana").hide();
			$(this).is(":checked") ? $("#es_add").show() : '';
			})

			$("input[id$='radio_kibana']").click(function() {
				$("#es_add").hide();
				$(this).is(":checked") ? $("#es_kibana").show() : '';
			})

			$("input[id$='radio_delete']").click(function() {
				$(this).is(":checked") ? $("#es_add").hide() : '';
			})

			$("#es_add").hide();
			$("#es_kibana").hide();
		});
	</script>
</head>

<body>
	<div id="menu"></div>

	<div  class="modal">
		<div class="modal-content modal-small">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h2>Manage Elasticsearch Configuration</h2>
			</div>

			<div class="modal-body">
				<fieldset id="es_fieldset">
					<legend><b>Elasticsearch Configuration</b></legend>
					<div id="es_action_selector">
						<input type="radio" name="container_radio" id="radio_add">
						<label>Add</label>
						<hr>
						<input type="radio" name="container_radio" id="radio_delete">
						<label>Remove</label>
						<hr>
						<input type="radio" name="container_radio" id="radio_kibana">
						<label>Kibana or Grafana Access</label>
					</div>

					<div id="es_add">
						<br>
						<label>Elasticsearch URL:</label>
						<input type="text" size="30" id="es_url" class="modal_input" name="es_url" value=""></font>
						<br>
					</div>
					<div id="es_kibana">
						<br>
						<label>Web Console URL:</label>
						<input type="text" size="30" id="kibana_url" class="modal_input" name="kibana_url" value=""></font>
						<br>
					</div>
				</fieldset>
				<div id="submit_element">
					<button id="submit_button">Submit</button>
				</div>
			</div>
		</div>
	</div>

	<div id="output" class="modal">
		<div class="modal-content modal-large">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h2>Command Output</h2>
			</div>

			<div id="containers-manage-modal-body" class="modal-body">
				Please wait.
			</div>
		</div>
	</div>

	<script>
		var modal = document.getElementById('modal_container');
		var span = document.getElementsByClassName("close")[0];
		var output_modal = document.getElementById('output');
		var output_span = document.getElementsByClassName("close")[1];
		var submit_button = document.getElementById("submit_button");

		span.onclick = function () {
			modal.style.display = "none";
		}

		output_span.onclick = function () {
			output_modal.style.display = "none";
		}

		submit_button.onclick = function () {
			modal.style.display = "none";
			output_modal.style.display = "block";
			generate_op_elasticsearch('containers-manage-modal-body');
		}

		modal.style.display = "block";

	</script>

</html>
