<html>

<head>
	<title>PiCluster Web Console</title>
	<script src="/jquery.js"></script>
	<script src="/jquery-ui.js"></script>
	<script src="/picluster.js"></script>
	
	<script src="/distLogo.js"></script>
	<script src="/moment.js"></script>

	<link rel="stylesheet" href="/jquery-ui.css">
	<link rel="stylesheet" href="/picluster-ui.css">
	<link rel="stylesheet" href="/circle.css">

	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
	<link rel="manifest" href="/images/manifest.json">
	<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">

	<meta name="theme-color" content="#ffffff">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<script>
		generate_nav("#menu");

		$(document).ready(function() {
			//build_doc_links();

			// Provide dropdown menu when javascript disabled
			$('nav li ul').hide().removeClass('dropdown');

			// Render menu dropdown the right way
			$('nav li').hover(function() {
				$('ul', this).stop().slideDown(125);
			}, function() {
				$('ul', this).stop().slideUp(125);
			});
		});
	</script>
</head>

<body>
	<div id="menu"></div>

	<div  class="modal">
		<div class="modal-body">
			<div class="modal-content modal-large">
				<div class="modal-header">
					<span class="close">&times;</span>
					<h2>PiCluster Rsyslog Viewer</h2>
				</div>

				<div class="modal-body">
					<div id="log_search">
						<div id="log_search_bar">
							<input id="query" type="text" rows="30" cols="60" name="query" name="query">
						</div>
						<div id="log_search_button">
							<button id="submit_button">Search</button>
						</div>
					</div>

					<div id="log_type">
						<div id="log_type_error" class="log_type_box">
							<label><input type="checkbox" id="error" onchange="search('error','error')" value="error">Errors</label><br>
						</div>
						<div id="log_type_failure" class="log_type_box">
							<label><input type="checkbox" id="failure" onchange="search('failure','failure')" value="failure">Failures</label><br>
						</div>
						<div id="log_type_warning" class="log_type_box">
							<label><input type="checkbox" id="warning" onchange="search('warning','warning')" value="warning">Warnings</label><br>
						</div>
						<div id="log_type_today" class="log_type_box">
							<label><input type="checkbox" id="today" onchange="search('today','today')" value="today">Today</label><br>
						</div>
					</div>

					<div id="log_output">
						<textarea id="command_output" name="command_output" value="" enctype="application/json"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		var modal = document.getElementById('modal_container');
		var span = document.getElementsByClassName("close")[0];
		var submit_button = document.getElementById("submit_button");

		span.onclick = function () {
			modal.style.display = "none";
		}

		submit_button.onclick = function () {
			generate_op_rsyslog();
		}

		modal.style.display = "block";

		generate_op_rsyslog();

	</script>

</html>
